/* Allow users in the disk group to run GParted without authentication */
polkit.addRule(function(action, subject) {
    if (action.id == "org.gnome.gparted" &&
        subject.isInGroup("disk")) {
        return polkit.Result.YES;
    }
});

