/* Allow users in storage group to run GParted without authentication */
polkit.addRule(function(action, subject) {
    if (action.id == "org.gnome.gparted" &&
        subject.isInGroup("storage")) {
        return polkit.Result.YES;
    }
});

