/* Allow users in the disk group to manage btrfs assistant daemon without authentication */
polkit.addRule(function(action, subject) {
    if (action.id == "org.btfrs-assistant.pkexec.policy.run" &&
        subject.isInGroup("disk")) {
            return polkit.Result.YES;
    }
});
