/* Allow users in the storage group to manage btrfs assistant
daemon without authentication */
polkit.addRule(function(action, subject) {
    if (action.id == "org.btfrs-assistant.pkexec.policy.run" &&
        subject.isInGroup("storage")) {
            return polkit.Result.YES;
    }
});
