/* Allow users in the disk group to run gsmartcontrol daemon without authentication */
polkit.addRule(function(action, subject) {
    if (action.id == "org.archlinux.pkexec.gsmartcontrol" &&
        subject.isInGroup("disk")) {
            return polkit.Result.YES;
    }
});
