#Allow drives to spin down and spin down after 15 minutes
ACTION=="add|change", KERNEL=="sd[a-z]", ATTRS{queue/rotational}=="1", RUN+="/usr/bin/hdparm -B 127 -S 180 /dev/%k"