[General]
Show_Labels=false
Update_Interval=5
Preferred_Width=436
Preferred_Height=424
Number_Chips=5

[Chip0]
Name=coretemp-0
Number=0

[Chip0_Feature0]
Address=0
Name=Package id 0
Color=#00B000
Show=true
Min=0
Max=56

[Chip1]
Name=BAT0-0
Number=1

[Chip2]
Name=thinkpad-0
Number=2

[Chip3]
Name=acpitz-0
Number=3

[Chip4]
Name=ACPI
Number=4

