[General]
Show_Labels=false
Update_Interval=5
Preferred_Height=451
Number_Chips=6

[Chip0]
Name=nouveau-200
Number=0

[Chip1]
Name=BAT0-0
Number=1

[Chip2]
Name=coretemp-0
Number=2

[Chip2_Feature0]
Address=0
Name=Package id 0
Color=#00B000
Show=true
Min=0
Max=57

[Chip3]
Name=thinkpad-0
Number=3

[Chip4]
Name=acpitz-0
Number=4

[Chip5]
Name=ACPI
Number=5

