[Unit]
Description=Monthly BTRFS defragmentation
Documentation=man:btrfs

[Service]
ExecStart=btrfs filesystem defragment -r /
type=simple

[Install]
WantedBy=multi-user.target
