[Unit]
Description=Remove all pacman cache files monthly
Documentation=man:pacman

[Timer]
OnCalendar=monthly
AccuracySec=1h
Persistent=true
RandomizedDelaySec=900
WakeSystem=true
Unit=clear-pacman-cache.service

[Install]
WantedBy=timers.target

