[Unit]
Description=Remove all pacman cache files
Documentation=man:pacman

[Service]
ExecStart=/usr/bin/paccache -rk0
Type=oneshot

[Install]
WantedBy=multi-user.target
