[Unit]
Description=Run rkhunter daily

[Timer]
OnCalendar=*-*-* 06:00:00
RandomizedDelaySec=900
WakeSystem=true
Persistent=true
Unit=rkhunter.service 
RemainAfterElapse=true

[Install]
WantedBy=timers.target
