[Unit]
Description=One time boot script to configure Snapper

[Service]
Type=simple
ExecStart=/opt/scripts/snapperfirstboot.sh

[Install]
WantedBy=multi-user.target