[Unit]
Description=Add interface IP addresses to TTY login prompts
#Start after the network service, but do not want it
#This way it does not get stuck on the boot screen waiting
After=network-online.target

[Service]
ExecStart=/opt/scripts/ttyinterfaces.sh
RemainAfterExit=no
Type=oneshot

[Install]
WantedBy=multi-user.target
